@import "../variables/variables.scss";

.DVG-InNumbers-Top {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	h1 {
		color: $color_1;
		text-align: center;
		font-family: $font-family_1;
		font-size: 42px;
		font-style: normal;
		font-weight: 700;
		line-height: 34px;
	}
	p {
		color: $color_2;
		text-align: center;
		font-family: $font-family_2;
		font-size: 28px;
		font-style: normal;
		font-weight: 400;
		line-height: 34px;
		&::after {
			content: "";
			display: block;
			width: 137px;
			height: 6px;
			background: #BF0F0F;
			margin-top: 11px;
		}
	}
}
.DVG-InNumbers-Bottom {
	width: 100%;
	margin-top: 93px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background: url("../../Images/Rectangle\ 140.png");
	min-height: 300px;
	h2 {
		color: $color_3;
		text-align: center;
		font-family: $font-family_2;
		font-size: 46px;
		font-style: normal;
		font-weight: 900;
		line-height: 34px;
	}
	p {
		color: $color_3;
		text-align: center;
		font-family: $font-family_2;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 34px;
	}
}
.DVG-Numbers {
	min-height: 152px;
	width: 100%;
	text-align: center;
	border-right: 1px solid #FFFFFF;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.last-Number {
	border: 0px solid;
}
