
$color_1: #303030;
$color_2: #474747;
$color_3: #FFF;
$color_4: rgba(255, 255, 255, 0.30);
$color_5: rgba(255, 255, 255, 0.50);
$color_6: #000;
$dot_color:#A62120;
$font-family_1: Roboto;
$font-family_2: Inter;
$font-family_3: Roboto Condensed;

$navbar-bg-color: #D9D9D9;
$navbar-link-color: #595959;
$navbar-active-link-color: #888787;
$navbar-button-bg-color:#BF0F0F;

$font-size1:43px;
$font-size2:28px;
$font-size3: 14px;
$font-size4:16px;
$font-size5:32px;

$responsive-size1:15px;
$responsive-size2:12px;
$responsive-size3:20px;

$darkmode_black1:#403C3E;
$darkmode_black2:#322F30;
$darkmode_black3:#292627;

$darkmode_red1:#E22126;
$darkmode_red2:#C8060B;
$darkmode_red3:#AE0509;