.dark-mode h1,.dark-mode p,.dark-mode small,.dark-mode a,.dark-mode span{
    color: #FFF !important;
}
.dark-mode .navbar-top{
    background: #1f1f1f;
}
.dark-mode .navbar-bottom,.dark-mode .active-hamburger{
    background: #BF0F0F !important;
}
.dark-mode .navbar-bottom-button{
    border: 1px solid #1f1f1f;
}
.dark-mode .navbar-bottom-button:hover{
    background-color:#1f1f1f ;
}
.dark-mode .Brands,.dark-mode .About,.dark-mode
{
    background-color:#1f1f1f ;
}
.dark-mode .Cointainer,
.dark-mode .Activity,
.dark-mode .Products,
.dark-mode .DVG-InNumbers,.dark-mode .card {
    background: rgba(0, 0, 0, 0.94) !important;
}
.dark-mode .slides-left,.dark-mode .slides-right{
    color: #fff;
}
.dark-mode .Brands-Logo path{
    fill: #1f1f1f;
}